body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0b3d4b;
    color: white;
    padding-bottom: 60px; /* Space for the fixed footer */
}

.top-nav {
    background-color: #08262e;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center; /* Align vertically */
    position: relative; /* Necessary for absolute positioning */
    flex-wrap: wrap; /* Manage space better on mobile devices */
}

.top-nav a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

.top-nav a.active {
    color: #f44336;
}

.logo {
    position: absolute;
    left: 20px; /* Position logo on the left */
}

.logo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%; /* Make the image round */
}

.top-right {
    position: absolute;
    right: 20px; /* Position the icon group on the right */
}

.top-right a {
    color: white;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.about {
    color: #ff4c4c;
    margin-top: 40px;
    position: relative;
}

.about h2 {
    margin-left: 26%;
}

.about p {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.social-nav {
    background-color: #08262e;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .top-nav {
        flex-direction: column;
    }

    .nav-links {
        display: none; /* Hide navigation links */
    }

    .logo {
        position: static; /* Remove absolute positioning on mobile */
    }

    .top-right {
        position: static; /* Remove absolute positioning on mobile */
    }

    .hamburger {
        display: block; /* Show hamburger menu */
    }
}

@media screen and (max-width: 480px) {
    .top-right a {
        display: none;
    }
    .top-nav a.active {
        display: none; /* Hide active link on mobile */
    }
}

canvas {
    display: block;
    margin: 0 auto;
    width: 30vmin;
    height: 30vmin;
}

h2 {
    color: #ff4c4c;
}
