body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: #0b3d4b;
    color: white;
    padding-bottom: 60px; /* Space for the fixed footer */
}

.top-nav {
    background-color: #08262e;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center; /* Align vertically */
    position: relative; /* Necessary for absolute positioning */
    flex-wrap: wrap; /* Manage space better on mobile devices */
}

.top-nav a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

.top-nav a.active {
    color: #f44336;
}

.logo {
    position: absolute;
    left: 20px; /* Position logo on the left */
}

.logo img {
    width: 38px;
    height: 38px;
    object-fit: contain;
    border-radius: 50%; /* Make the image round */
}

.top-right {
    position: absolute;
    right: 20px; /* Position the icon group on the right */
}

.top-right a {
    color: white;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.content {
    
    text-align: center;
}

.about {
    color: #f44336;
    margin-top: 40px;
    position: relative;
}

.about h2 {
    margin-left: 26%;
}

.about p {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.social-nav {
    background-color: #08262e;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
}

.social-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .top-nav {
        flex-direction: column;
    }

    .nav-links {
        display: none; /* Hide navigation links */
    }

    .logo {
        position: static; /* Remove absolute positioning on mobile */
    }

    .top-right {
        position: static; /* Remove absolute positioning on mobile */
    }

    .hamburger {
        display: block; /* Show hamburger menu */
    }
}

@media screen and (max-width: 480px) {
    .top-right a {
        display: none;
    }
    .top-nav a.active {
        display: none; /* Hide active link on mobile */
    }
    
}

canvas {
    display: block;
    margin: 0 auto;
    width: 30vmin;
    height: 30vmin;
}

h2 {
    color: #f44336;;
}

.content {
    padding: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-left: 5%;
        margin-right: 5%;
    }
}

.project {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid #f44336; /* Add a colored border */
}

.project img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f44336; }
}

@keyframes remove-caret {
    to { border-right: none; }
}

.project h3 a {
    display: inline-block; /* Per permettere l'animazione */
    margin-top: 15px;
    font-size: 1.2em;
    color: #f44336;
    border-right: .15em solid;
    white-space: nowrap;
    overflow: hidden;
    width: 0; /* Inizia con larghezza 0 */
    animation-fill-mode: forwards; /* Mantiene lo stato finale dell'animazione */
}


.project p {
    font-size: 0.95em;
    color: #000000;
}

.work-experience {
    background-color: #52665d;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.work-experience h3 {
    color: #000000;
    cursor: pointer;
    margin: 0;
}

.work-experience h3:hover {
    text-decoration: underline;
}

.work-experience .description {
    display: none;
    margin-top: 10px;
}

.work-experience .description p {
    margin: 10px 0;
}

.work-experience .description ul {
    padding-left: 20px;
}

.work-experience .description ul li {
    list-style-type: disc;
    margin: 5px 0;
}




